<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Microfilm_Dafater_D810.Properties.Settings.ConnectionString"
        connectionString="Data Source=unix;Persist Security Info=True;User ID=segelat;Password=segelatadminsite;Unicode=True"
        providerName="System.Data.OracleClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
